/* PC*/
@media (max-width: 81.25em) {
    .marketplace__content-left {
        width: 50%;
    }

    .interact__box {
        width: auto;
    }

    .collections__item {
        width: 33.333%;
    }

    .collections__item-footer {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .operations__heading {
        width: 80%;
    }

    .operations__text {
        position: static;
        padding: 0;
        margin-top: 2rem;
    }
}

@media (max-width: 75em) {
    /* SHOPNOW */
    .content__btn-list {
        flex-wrap: wrap-reverse;
        gap: 2rem;
    }

    .content__btn-item {
        display: none;
    }

    .content__mobile-item {
        display: flex;
        transition: all ease-in-out .2s;
    }

    .content__mobile-item:hover {
        opacity: 0.9;
    }
}

/* Tablet & Mobile > 1024px*/
@media (max-width: 63.9375em) { 
    .header__menu {
        display: none;
    }

    .header__started {
        display: none;
    }

    .header__bars {
        display: block;
    }

    .collections__wrap {
        flex-direction: column;
    }

    .collections__item {
        width: 60%;
    }

    .sellstep__step {
        display: none;
    }

    /* SHOPNOW */

    .trend__content-main {
        flex-direction: column;
    }

    .trend__content-left {
        width: 100%;
        padding: 0;
    }

    .trend__content-right {
        width: 100%;
        padding: 0;
    }

    .content__header2 {
        display: none;
    }

    /* BLOG */
    .blog__wrap {
        padding: 0;
    }
}

/* Tablet: width >= 740px and width < 1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .marketplace__interact {
        width: 100%;
    }

    .community__btn-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .sellstep__title {
        width: 50%;
    }
    
    .sellstep__text {
        flex: 1;
    }

    .operations__content {
        flex-wrap: wrap;
        gap: 5rem;
    }

    .operations__content-box:nth-child(even) {
        transform: translateY(0);
    }
}

@media (max-width: 55.625em) {
    .header__highlight-2 {
        display: none;
    }

    .marketplace__content-left {
        width: 58%;
    }

    .marketplace__content-right {
        width: 40%;
    }

    
}

@media (max-width: 51.25em) {
    .header__content-left {
        width: 98%;
        margin: 0 auto;
    }

    .header__content-right {
        width: 90%;
    }
    .header__content-wrap {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .creators__highlight-bg2 {
        left: 0;
    }

}

@media (max-width: 49.375em) {
    .content-vector {
        display: none;
    }
}

/* Mobile < 740px */
@media (max-width: 46.1875em) { 
    .header__content-greeting {
        margin: 0 auto;
    }
    
    .header__content-heading {
        text-align: center;
    }
    
    .header__content-right {
        width: 100%;
    }

    .header__content-color {
        justify-content: center;
    }

    .content__right-title {
        text-align: center;
    }

    .content__right-text {
        text-align: center;
    }

    .marketplace__wrap {
        flex-direction: column-reverse;
    }

    .marketplace__content-left {
        width: 100%;
    }

    .marketplace__content-right {
        width: 100%;
    }
    
    .marketplace__text {
        text-align: justify;
    }

    .btn.marketplace__btn {
        display: block;
        margin: 3rem auto;
    }

    .marketplace__interact {
        margin: 0;
    }

    .operations__text {
        text-align: justify;
    }

    .operations__content {
        flex-direction: column;
        gap: 5rem;
        margin-top: 100px;
    }

    .operations__content-box:nth-child(even) {
        transform: translateY(0);
    }

    .operations__content-box {
        width: 40rem;
    }

    .operations__content-block {
        justify-content: center;
        transform: translateX(20px);
    }

    .operations__content-title {
        text-align: center;
    }

    .operations__content-text {
        text-align: center;
    }

    .collections {
        margin-top: 20rem;
    }

    .collections__item {
        width: 90%;
    }

    .sellstep__content {
        flex-direction: column;
    }

    .sellstep__step {
        display: block;
    }

    .sellstep__title {
        max-width: 100%;
        text-align: center;
    }

    .sellstep__text {
        max-width: 100%;
        text-align: center;
    }

    .community__box {
        background: none;
    }

    .community__heading {
        text-align: center;
    }

    .community__text {
        text-align: center;
    }

    .community__btn-wrap {
        justify-content: center;
        flex-wrap: wrap;
    }

    .operations__content-highlight1 {
        width: 30rem;
    }

    .creators__highlight-bg2 {
        width: 30rem;
    }

    .operations__content-highlight2 {
        width: 20rem;
    }

    .community__highlight1 {
        width: 20rem;
    }

    .creators__highlight-bg1 {
        width: 20rem;
    }


    /* SIGN UP */
    .sign-up-left {
        display: none;
    }

    .sign-up-right {
        width: 100%;;
    }

    /* MARKETPLACE */
    .content__header-item:nth-child(3) {
        display: none;
    }
    
    .content__item:nth-child(2) {
        display: none;
    }
}


